/* 
background-color: #1f2937;
font-size: 48px;
font-weight: extra-bold;

font-size: 18px;
color: #e5e7eb;

font-size: 24px;
color: #f9faf8;

background-color: #3882f6;

font-size: 36px;
font-weight: extra-bold;
color: #1f2937;

background-color: #e5e7eb;
font-size: 36px;
font-weight: italic;
color: #1f2937;
*/
body {
    padding : 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column; 
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 80%;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    width: 80%;
    margin: auto;
}

header > div > div {
    width: 50%;
    margin: auto;

}

header > div > div> h1 {
    font-size: 48px;
    font-weight: 900;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    min-height: 200px;
    font-size: 12px;
    color: #fff;
}

nav > ul, nav > ul > li, nav > ul > li > a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color:#e5e7eb
}

nav > ul {
    display: flex;
    gap: 20px;
}
button {
    background-color: #3882f6;
    font-weight: 600;
    font-size: 20px;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
}
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f9faf8;
    width: 80%;
    margin: auto;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}
.card {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.img-border {
    display: flex;
    border: 2px solid #3882f6;
    border-radius: 12px;
    padding: 10px;
    height: 150px;
    width: 150px;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    font-style: italic;
    font-weight: light;
}
.thor {
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-style: none;
    font-style: bold;
    text-align: right;
}

.call-section {
    display: flex;
    padding: 50px 0px;
    align-items: center;
    width: 80%;
    margin: 100px 0px;
    margin-inline: auto;
    background-color: #3882f6;
    border-radius: 12px;
}
.call {
    display: flex;
    justify-content: space-between;
    
    color: #f9faf8;
    font-size: 24px;
    margin: 0px;
    width: 80%;
    margin-inline: auto;
    text-align: left;
}
.call > div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0px;
    margin: 0px;
}

.call > div > button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid #f9faf8;
}
.call > div > h3 {
    font-size: 24px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.call > div > p {
    font-size: 18px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px 0px;
}